{% extends "layout.html" %}

{% block content %}

<h1>Beamer: Internal Beam Load Calculator</h1>
<div class="column">
  <form action="/" method="POST"> <!-- link to function in routes.py -->

    {{ form.csrf_token }}
    <br>
    {{ form.struct_type.label }}
    {{ form.struct_type }}
    <br>
    {{ form.span_length.label }}
    {{ form.span_length }} ft
    <br>
    {{ form.load_distribution.label }}
    {{ form.load_distribution }}
    <br>
    <span id="load_label">w: </span>
    {{ form.load }} <span id="load_units_span">k/ft</span>
    <span id="load_location_span">
    <br>
    {{ form.load_location.label }}
    {{ form.load_location }} ft
    </span>
    <br>
    {{ form.E.label }}
    {{ form.E }} ksi
    <br>
    {{ form.I.label }}
    {{ form.I }} in<sup>4</sup>
    <br>
    {{ form.load_case.label }}
    {{ form.load_case(class_="load-factor") }}
    <br>
    {{ form.load_type.label }}
    {{ form.load_type(class_="load-factor") }}
    {% for subfield in form.factor_type %}
     <tr>
        <td>{{ subfield(class="form-check-input") }}</td>
        <td>{{ subfield.label }}</td>
     </tr>
    {% endfor %}
    <br>
    {{ form.load_factor.label }}
    {{ form.load_factor }}
    <br>

    {{ form.submit }}

  </form>
</div>

<div class="column">
  <img id="model-img" src="/static/img/beam_diagrams/simple_uniform.png" width="100%">
</div>

<div class="column">
  <br>
  <div id="reaction-1"></div>
  <div id="reaction-2"></div>
  <br>
  <div id="shear"></div>
  <br>
  <div id="moment-1"></div>
  <div id="moment-2"></div>
  <br>
  <div id="deflection"></div>
</div>

<script src="/static/js/form-input.js"></script> <!-- link to js file -->

{% endblock %}
